<div id="container">
    <div class="ui center aligned text container">
      <p class="medium-header medium-margin">Skills</p>
      <hr>
    </div>
  
    <!-- Web development -->
    <div class="xxlarge-margin margin-below">
      <div id="projects" class="ui stackable grid container">
        <div class="row">
          <div class="no-pad ui center aligned eleven wide column">
            <div class="ui image">
              <img class="shadow" src="./assets/images/reddit-clone.png">
            </div>
          </div>
          <div class="ui center aligned five wide column">
              <p class="large-margin small-header">
                Web development
              </p>
              <br>
              <p class="res-p">
                I wanted to build my personal website, but as part of efforts to improve using JavaScript frameworks, I wanted to build it using Angular.
                So I used it to improve upon it and to know it. I'am fairly familiar with angular and its workings I have use for other projects as well. Also to prepare simple
                reliable and efficent webservers I have used Node js with the express framework as a backend solution. and am fairy compitant when it comes too mongodb as well.
              </p>
          </div>
        </div>
      </div>
    </div>
  
    <!--Arduino based obstable avoidance robot-->
    <div class="xxlarge-margin">
      <div id="projects" class="ui computer reversed stackable grid container">
        <div class="row">
          <div class="no-pad ui center aligned eleven wide column">
            <div class="shadow ui right floated image">
              <img src="./assets/images/arduino5.png">
            </div>
          </div>
          <div class="ui center aligned five wide column">
              <p class="large-margin small-header">
                Ui & UX
              </p>
              <p class="res-p">
                you can't be a web developer without skills of some ui and ux design. Therfore, I have worked on learning adobe-xd for ui and ux design implementation
              </p>
             
          </div>
        </div>
      </div>
    </div>
  
    <!-- Voltage rectifier -->
    <div class="xxlarge-margin xlarge-below">
      <div id="projects" class="ui stackable grid container">
        <div class="row">
          <div class="no-pad ui center aligned eleven wide column">
            <div class="shadow ui image">
              <img src="./assets/images/voltage-rectifier.png">
            </div>
          </div>
          <div class="ui center aligned five wide column">
              <p class="large-margin small-header">
                Motion graphics
              </p>
              <p class="res-p">
                I have worked with softwares such as adobe after-effects, adobe-illustrator and adobe-character animator to design simple yet butiful motion graphics videos for
                that can be used for promotion and other services
              </p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  