<div id="container">
    <div class="ui center aligned text container">
        <p class="void medium-header medium-margin">Interests</p>
         <hr class="void">
        <p class="void small-header large-margin" style="padding-bottom: 100px">Technology captivates me</p>
</div>
<div class="container" style="align-content: center; padding-bottom: 40px;"> 
        <div class="row">
          <div class="col-sm-4" style="padding-bottom: 10px;">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 40px">Machine learning</h5>
                  <p class="card-text" style = "color: black; font-size: 20px; ">I like the trend of machine learning and the application that its being utilized for.
                    Machine learning will be able to solve a lot of problems in the future and I want to be part of that.
                 </p>
                </div>
              </div>
          </div>
          <div class="col-sm-4" style="padding-bottom: 10px;">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 40px">Animation</h5>
                  <p class="card-text" style = "color: black; font-size: 20px;">I like to watch anime and animated movies "generally movies". It is a hobby of mine and some day I would like to create one of mine </p>
                </div>
              </div>    
          </div>
          <div class="col-sm-4" style="padding-bottom: 10px;">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 40px">Youtube</h5>
                  
                  <p class="card-text" style = "color: black; font-size: 20px;">Youtube has become the go to site for learning, entertainment and anything you want.
                   Therfore I would like to create contents that I can use for youtube in the future
                 </p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>